In [1]:

#1.List
##Indexing, Slicing, Methods, List Comprehension

# Defining a List
fruits = ["apple","banana","orange","cherry"]
print(type(fruits))

<class 'list'>

In [6]:
#Indexing
fruits = ["apple","banana","orange","cherry"]
print(fruits[0])# 0 is the index of apple

apple

In [8]:
#Slicing 
fruits = ["apple","banana","orange","cherry"]
print(fruits[1:]) #slicing the list from index 1 to n.

['banana', 'orange', 'cherry']

In [9]:
#Methods
##.append() method
fruits = ["apple","banana","orange","cherry"]
fruits.append("grapes")#the new value is added at the end of the list.
print(fruits)

['apple', 'banana', 'orange', 'cherry', 'grapes']

In [14]:
##.insert()
fruits = ["apple","banana","orange","cherry"]
fruits.insert(2,"ice-apple") #the new value is added in-between at index[2].
print(fruits)

['apple', 'banana', 'ice-apple', 'orange', 'cherry']

In [16]:
##.remove
fruits = ["apple","banana","orange","cherry"]
fruits.remove("apple")# The value "apple" will be removed from the list.
print(fruits)

['banana', 'orange', 'cherry']

In [29]:
##List comprehension
### More readable than the traditional loop technique.
### Short way to create a new list is by applying a formula to each value in it.
square=[x**2 for x in range(5)] 
print(square)

[0, 1, 4, 9, 16]

In [31]:
#2.Tuple
##Immutable,Unpacking

##defining a tuple
names = ("hari","ram","varun")
print(type(names))

<class 'tuple'>

In [33]:
##Immutable
names = ("hari","ram","varun")
names[0]=("raj")
print("names")#it gives error because tuple is immutable.

TypeError: 'tuple' object does not support item assignment

In [35]:
##unpacking
names = ("hari","ram","varun")
a,b,c=names
print(a)#unpack the data from the tuple.

hari

In [37]:
#3.set
##Uniqueness,Set Operations

##Defining a Set
set_example={1,2,3,45}
print(type(set_example))

<class 'set'>

In [38]:
##Uniqueness
set_example = {1,2,2,3,3,45,6,7}
print(set_example)#set returns only unique values in sorted order.

{1, 2, 3, 6, 7, 45}

In [43]:
##operations:-Union,Intersection,Difference

#union
set1={1,2,3,4}
set2={3,4,5,6}
result=set1.union(set2)
print(result) #merge values from both the sets and return unique values as a single set.

{1, 2, 3, 4, 5, 6}

In [45]:
#intersection

seset1={1,2,3,4}
set2={3,4,5,6}
result=set1.intersection(set2)
print(result) #it combines values from both the sets and returns only common values as a single set.

{3, 4}

In [48]:
#difference

set1={1,2,3,4}
set2={3,4,5,6}
result=set1.difference(set2)
print(result) #it compares values from both the sets and returns unique values from set1.

{1, 2}

In [50]:
#4.dictionary 
##.get(),methods

#defining a dictionary
details={"name":"harish","age":20,"percentage":90.1}
print(type(details))

<class 'dict'>

In [54]:
#.get()method

##In key["key"] method if the value is not found, it gives an error. 

details={"name":"harish","age":20,"percentage":90.1}
print(details["sex"])

KeyError: 'sex'

In [56]:
##In .get() method if the value is not found it returns none
details={"name":"harish","age":20,"percentage":90.1}
print(details.get("sex"))

None

In [70]:
#methods:-.keys(),.values(),.items()

##.keys()
### gives only keys
details={"name":"harish","age":20,"percentage":90.1}
print(details.keys()) 

##.values()
###gives only values
details={"name":"harish","age":20,"percentage":90.1}
print(details.values())

##.items()
###gives both keys and values
details={"name":"harish","age":20,"percentage":90.1}
print(details.items())

dict_keys(['name', 'age', 'percentage'])
dict_values(['harish', 20, 90.1])
dict_items([('name', 'harish'), ('age', 20), ('percentage', 90.1)])

In [76]:
#Nested structure
##List of dictionary,Dictionary of list

#List of dictionary.
## each list contains some dictionaries.
## first access the list and then dict.
list=[{1:"a",2:"b",3:"c",4:"d",5:"e"},
       {6:"f",7:"g",8:"h",9:"i"}]
print(list[0][1])

a

In [98]:
#Dictionary of list
## each dictonary contains some list
## first access the dict and then list
dictionary={ "list1":[1,2,3,4],
             "list2":[5,6,7,] 
            }
print(dictionary["list1"][1])

2